

/* header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #35424a;
  color: #fff;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
} 

.header a {
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.header a:hover {
  color: #ccc;
}

.header li {
  display: inline-block;
  float: left;
  padding: 0 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.branding {
  display: block;
}

.header nav {
  display: block;
}

.branding,
.header nav {
  margin: 20px 0;
}

.branding h1 {
  margin: 0;
}

.highlight, 
.current a {
  color: #e8491d;
  font-weight: bold;
}

@media(max-width: 768px) {
  .container {
    justify-content: center;
    width: 100%;
  }
  .branding,
  .header nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}