@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');
* {box-sizing: border-box;}
html {font-size: 10px;}
/** {border: 1px solid red;}*/
body {
  font-size: 1.6rem;
  font-family: 'Playfair Display SC', serif;
  color: #111;
}
a {
  text-decoration: none;
  margin: 0;
  /*color: #4da6ff;*/
  color: #79a6d2;
}
a:hover {
  color: #0073e6;
}

p, a {
  font-family: 'Lato', sans-serif;
}

p {
  margin-bottom: 36px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h1,h2,h3 {margin:0 0 0 0;}

h1 {font-size: 4.1rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {
  font-size: 1.5rem;
  margin: 30px 0 0 0px;
}

.container {
  display: block;
  margin: 0;
}

.hidden {
  display: none;
}


/* Grid */
.col-1  {width: 8.33%; }
.col-2  {width: 16.66%;}
.col-3  {width: 25%;   }
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;   }
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;   }
.col-10  {width: 83.33%;}
.col-11  {width: 91.66%;}
.col-12  {width: 100%;}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: .2rem 0;
    background: #ccc;
    color: #000;
    padding: .2rem 0;
}

.row {
  background-color: #fff;
  margin: 0 auto;
  padding: 160px 0 0 0;
  min-height: 600px;
}


/* Nav Panel */
header {
  position: fixed;
  height: 34px;
  width: 100%;
  background-color: #f4f4f4; 
  padding: 0;
  margin: 0;
  opacity: 1;
  z-index: 1;
}

.menu {
  margin: 0 auto;
  padding: 0;
}

.menu ul {
  display: block;
  margin:0;
  padding: 0;
}

.menu li {
  display: inline-block;
  float: left;
  margin: 0 60px 0 0;
  padding: 0;
  line-height: 34px;
  height: 34px;
}

.menu a {
  font-size: 1.4rem;
  color: grey;
  margin: 0;
  padding: 0;
}

.menu li a:hover {
  color: black;
}

.menu img {
  margin: 0;
}

/* Text container */
.round {
  border-radius: 50%;
}

.photo {
  margin-right: 20px;
  font-family: monospace;
}
.photo:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

 /* The Close Button */
.bigPhoto__close {
  display: none;
  position: relative;
  top: -365px;
  left: 365px;
  color: #666666;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}

/* List of skills */
#skills ul {
  list-style: none;
}

#skills li {
  margin: 0;
  line-height: 3.5rem;
}

.skills_text {
  font-family: Playfair;
  font-style: italic;
}

.portfolio__ul {
  margin: 10px 0 30px 0;
}
#portfolio li {
  line-height: 2.5rem;
}

kbd {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 5px;
  background-color: #000;
  color: #fff;
}


#contacts {
  min-height: 400px;
}

.paddingTopLarge {
  padding-top: 200px;
}

.paddigLeft--m {
  padding-left: 50px;
}

.marginLeft--small {
  margin-left: 20px;
}

.beforeFooter {
  min-height: 250px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  width: 100%;
  background-color: #f4f4f4; 
}

.footerSpan {
  display: block;
}

@media (max-width: 768px) {
  .col-7 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu li {
    margin: 0 20px 0 0;
    padding: 0;
  }
}

