body {
    background-color:white;
    background:white;
}

.parent {
	width:650px;
	margin:auto;
	text-align:center;
	background-color:none;
}

.pic {
	margin-bottom:40px;
}

.sectionOne {
	padding:10px;
	background-color:#009933;
	color:white;
	width:150px;
	margin: 0 auto;
	margin-top:35px;
	margin-bottom:45px;
}

.sectionTwo {
	background-color:#003399;
	color:white;
	width:170px;
	display:inline-block;
	vertical-align: middle;
	padding:10px;
	margin-right:10px;
	margin-left:10px;

}

.sectionThree {
	background-color:#990066;
	color:white;
	width:170px;
	display:inline-block;
	padding:10px;
	vertical-align: middle;
	margin-right:0px;
	margin-right:-20px;

}

.sectionSocial {
	display:inline-block;
	margin-top:0px;
	vertical-align: middle;
	margin-right:40px;

}


.block {
	text-align:center;
	display:inline-block;
	margin-left:20px;
	margin-right:25px;
	margin-top:20px;
	margin-bottom:100px;
}

.footer {

}

.under{
	display:inline-block;
	text-decoration: none;
	padding:20px;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
}

.under2 {
	margin-top:10px;
	margin-bottom:50px;
}

a {
	text-decoration:none; /* Removing the underline from HTML link */
} 

/* unvisited link */
a:link {
	color: #666666;
}

/* visited link */
a:visited {
	color: #666666;
}

/* mouse over link */
a:hover {
	color: #0033CC;
}  

/* selected link */
a:active {
	color: #666666;
}

/*
 When setting the style for several link states, there are some order rules:

	a:hover MUST come after a:link and a:visited
	a:active MUST come after a:hover
 */


