body {
	background: lightslategray;
	color: #4682B4;
	font-family: Times, Arial, Verdana, sans-serif;
}

h2 {
	padding-top: 5px;
}

div {
	text-align:center;
	background-color:#FFF8DC;
	border-radius:10px;
}

div.center {
	position: relative;
	width:70%;
	height:1000px;
	color: #000080;
	font-size: 15px; 
	margin: auto;
	/*overflow-x:hidden;*/	
}

table {
	text-align:left;
	width:100%;
}


td.first_td {
	border: 1px solid black;
	word-break: break-all;
	width: 50%;
}

td.second_td {
	border: 1px solid black;
	word-break: break-all; /* to carry a long word on to the next line */
	width:50%;
}


img {
	width:100px;
}


a {
	text-decoration:none;
	color:#6495ED;
	font-family:Verdana, Arial, serif;
}


a:hover {
	color:blue;
}


button.myButton {
	height:50px;
    width:220px;
    border-color:#bcd2ee;
    background-color:#bcd2ee;
    border-style:solid;
    border-width:1px;
    border-radius:5px;
    margin:auto;
    text-align:center;
}


.myButton:hover {
	background: transparent;
 	color: #226fbe;
 	/*cursor: pointer;*/
}






