/* Horizontal Navigation Panel */
.nav {
  margin: 0 auto;
  padding: 0;
  min-width: 20rem;
  max-width: 180rem;
  min-height: 6.4rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);

  @media only screen and (max-width: $phone) {
    width: 100%;
  }

  & ul {
    list-style: none;
    margin: 0 auto;
    padding: 1.5rem;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit; // растянуть по высоте родителя
    text-align: center;  // на всякий случай

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
    padding: 0;
    height: 3.4rem;
    min-width: 2rem;

    @media only screen and (max-width: $phone) {
      margin: 0 .5rem 0 0;
    }

    &::before {
      content: "\200B"; // for Safary bug. See more https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns
    }
  }

  & a {
    display: inline-block;
    font-size: 1.6rem;
    color: $grey-dark;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    transition: .1s all;

    @media only screen and (max-width: $phone) {
      font-size: 1.4rem;
      padding: .2rem .5rem;
    }

    &:hover {
      color: $grey-darken;
    }
  }

  &__icon-home {
    display: block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    fill: $grey-dark;

    &:hover {
      fill: $grey-darken;
    }
  }

  &__photo {
    height: 100%;
    

    & img {
      display: block;
      height: inherit;
    }
  }
}