/* Horizontal Navigation Panel */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 5rem;
  background-color: $grey-light;
  box-shadow: 0 1px 11px rgba(0,0,0,0.2);

  @media only screen and (max-width: $phone) {
    position: relative;
  }

  & ul {
    list-style: none;
    margin: 0 auto;
    padding: .5rem;
    width: 100%;
    max-width: 180rem;
    height: 100%;       // растянуть по высоте родителя
    text-align: center; // на всякий случай

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
    padding: 0;
    height: 3.4rem;
    min-width: 2rem;

    &::before {
      content: "\200B"; // for Safary bug. See more https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns
    }
  }

  & a {
    display: inline-block;
    font-size: 1.6rem;
    color: $grey-dark;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    transition: .1s all;

    &:hover {
      color: $grey-darken;
    }
  }

  &__icon-home {
    display: inline-block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    fill: $grey-dark;

    &:hover {
      fill: $grey-darken;
    }
  }
}