
/* section_1.css */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 31px;
}

.menu {
  width: 100%;
  min-height: 44px;
  padding: 0;
  background-color: #f6b213;
  margin-bottom: 31px;
  border-radius: 2px;
}

.menu a:hover {
  color: #fff;
}

.firstUl {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 13px 0 0 0;
  padding: 0;
  width: 100%;
}

.firstUl>li {
  display: inline-block;
  position: relative;
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

.firstUl>li>a {
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase;
}

.firstUl>li>a>span {
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  color: #000000;
  font-size: .8rem;
}

/* dropdown meny */
.hiddenUl {
  display: none;
  position: absolute;
  top: 30px;
  width: 110%;
  text-transform: lowercase;
  background-color: #f6b213;
  z-index: 999;
  list-style: none;
  margin: 0;
  padding: 0 0 7px 0;
}

.hiddenUl>li {
  text-align: center;
  margin: 5px auto;
}

.show {
  display: block;
}

.white {
  color: #ffffff;
}

.mobMenu {
  display: none;
}


/* slider */
.slider {
  position: relative;
  width: 630px;
  display: inline-block;
  height: 331px;
  overflow: hidden;
  border-radius: 2px;
}

.flexItem_order {
  order: 3;
}

.containerForSlides {
  position: absolute;
  left: 0px;
  width: 9999px;
  height: inherit;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0; /* "font-size: 0" for removing whitespace between images */
}

.wrapperSlide { /* for fitting big(small) images */
  display: inline-block;
  width: 630px;
  height: 331px;
  margin: 0;
  border: 0;
  font-size: 0;
}

.imgForSlider {
  display: inline-block;
  width: 100%;
  height: inherit;
  border: none;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.left_arrow, 
.right_arrow {
  position: absolute;
  top: 143px;
}

.left_arrow {
  left: 15px;
}
.right_arrow {
  right: 15px;
}

.left_arrow:hover, 
.right_arrow:hover {
  cursor: pointer;
}

.contaierForCircles {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 15px;
}

.smallCircle {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #909090;
}

.smallCircleCurrent {
  background-color: #f6b213;
}


/* aside */
.aside {
  width: 325px;
  display: block;
  min-height: 331px;
}
.asideInner {
  position: relative;
  width: 100%;
  min-height: 110px;
  padding-right: 20px;
}

.asideInner h2 {
  display: inline-block;
  font-size: 1.8rem;
  margin: 0;
  padding: 12px 0 0 0;
  border-bottom: 2px solid #82c044;
  margin-left: 70px;
}

.asideInner h2:hover,
.mediumCirle {
  cursor: pointer;
}

.asideInner p {
  margin: 5px 0 0 70px;
  font-size: 1.4rem;
}

.mediumCirle {
  position: absolute;
  left: 10px;
  width: 44px;
  height: 44px;
  border: 3px solid #82c044;
  border-radius: 50px;
}


.asideInner:nth-child(0n+1) img { /* aside_cube.png */ 
  margin: 7px 0 0 9px;
}

.asideInner:nth-child(0n+2) img { /* aside_question_mark.png */ 
  margin: 6px 0 0 11.5px;
}

.asideInner:nth-child(0n+3) img { /* aside_play.png */ 
  margin: 10px 0 0 14px;
}







/* Styles for Responsive */

/* for tablet */
@media(max-width: 768px) {
  .section {
    padding-bottom: 0;
  }

  .menu {
    margin-bottom: 0;
  }

  .firstUl {
    margin: 13px 0;
  }

  .firstUl>li {
    margin: 5px 5px;
  }

  .hiddenUl {
    top: 20px;
    opacity: 0.9;
  }

  .aside {
    display: flex;
    width: 100%;
    min-height: 150px;
    margin: 40px 0 20px 0;
    padding: 0;
  }

  .asideInner {
    width: 33.33%;
    margin-right: 0px;
  }
  
  .slider {
    display: block;
    width: 100%;
  }

  .flexItem_order {
    order: 0;
  }

}

/* for mobile */
@media(max-width: 360px) {

  .menu {
    min-height: 44px;
    padding: 2px 0;
  }

  .firstUl {
    margin: 0;
  }

  .firstUlMobile {
    display: none;
  }

  .mobMenu {
    display: block;
    margin: 10px 10px;
  }

  .firstUl>li {
    display: block;
    margin: 5px 0;
    width: 100%;
  }

  .firstUl>li>a>span {
    margin-right: 5px;
  }

  .hiddenUl {
    width: 100%;
    background-color: #edbe4f;
  }

  .aside {
    display: block; 
    width: 100%;
    min-height: 150px;
    margin: 40px 0 20px 0;
    padding: 0;
  }

  .asideInner {
    width: 100%;
  }

}