
/* section_4.css */

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  min-height: 384px;
}

.section p {
  font-size: 1.4rem;
}

.video,
.advices,
.subscribe {
  min-height: 306px;
  margin: 0;
}

.video {
  width: 384px;
}

.advices {
  width: 310px;
  padding: 0 10px 0 18px;
}

.subscribe {
  width: 250px;
  padding: 0 10px;
}

.section h1 {
  color: #303030;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 37px 0;
  text-align: left;  
}

.section h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.advices>img {
  float: left;
  margin-right: 18px;
}

.greyText {
  color: #909090;
}

.advices span { /* quotes symbols */
  font-size: 2.9rem;
  color: #82c044;
  font-family: "Times", serif;
  line-height: .3;
}

.advices p {
  line-height: 1.3;
}

.section a {
  border-bottom: 1px solid #82c044;
  font-weight: 600;
}

.section a:hover {
  border-bottom: transparent;
  color: #82c044;
}

.subscribe [type=text] {
  border: transparent;
  border-bottom: 1px solid #303030;
  width: 220px;
  margin-top: 10px;
}

.subscribe [type=text]:focus {
  border: transparent;
  border-bottom: 1px solid #303030;
  outline: 0;  
}

.subscribe [type=text]::placeholder {
  color: #909090;
  outline: 0;
}

.subscribe [type=submit] {
  width: 220px;
  height: 38px;
  background-color: #0675cb;
  margin: 24px 0;
  outline: 0;
  border: none;
  border-radius: 2px;
  color: #ffffff;
}

.subscribe [type=submit]:hover {
  cursor: pointer;
}

/* for tablet */
@media(max-width: 768px) {
  .video {
    width: 100%;
  }

  .advices {
    width: 50%;
  }
  .subscribe {
    width: 50%;
  }

  .video>h1 {
    margin-left: 20px;
  }

  .video>iframe {
    width: 100%;
  }

}

/* for mobile */
@media(max-width: 360px) {
  .video {
    width: 100%;
  }
  .advices {
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }

  .video>h1{
    text-align: center;
    margin-left: 0;
  }

  .advices,
  .subscribe {
    margin-top: 30px;
  }

  .advices>h1,
  .subscribe>h1 {
    text-align: center;
  }

  .subscribe {
    text-align: center;
  }

  .subscribe [type=text],
  .subscribe [type=submit] {
    width: 100%;
  }

}

