*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.container {
  display: block;
  width: 100%;
  max-width: 180rem;
  margin: 0 auto;
  border: 2px dashed green;
}

.hidden {
  display: none;
}

// svg[class*="icon"] {
//   width: 3.2rem;
//   height: 3.2rem;
// }