.button {
  display: block;
  background-color: #fed136;
  color: #484543;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 2rem 0;
  margin: 3rem auto;
  width: 24rem;
  border-radius: 3px;
}