.button {
  display: block;
  background-color: #fed136;
  color: #484543;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 20px 0;
  margin: 30px auto;
  width: 240px;
  border-radius: 3px;
}