* {box-sizing: border-box;}
html {font-size: 10px;}
body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  color:#222222;
}


/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 2px 0;
    background: #ccc;
    color: #000;
    padding: 2px 0;
}

/* Main Styles */
header {
  background: url(../img/first-bg.jpg) no-repeat center top / cover;
  height: 100vh;
}

.heading {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 0 0 120px 0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 930px;
}

.logo {
  margin: 40px 0 0 0;
  float: left;
}

nav {
  float:right;
  margin: 45px 0 0 0;
}

.menu {
  display: block;
  padding: 0;
  margin: 0;
}

.menu li {
  display: block;
  list-style-type: none;
  margin: 0 41px 0 0;
  float: left;
}

.menu a {
  color: #fff;
  font-size:1.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
 
.titles__first {
  font-size: 4rem;
  color: white;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 180px 0 0 0;
}

h1 {
  font-size: 7.5rem;
  color: white;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.button {
  display: block;
  background-color: #fed136;
  color: #484543;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 20px 0;
  margin: 30px auto;
  width: 240px;
  border-radius: 3px;
}

.title {
  padding: 125px 0 0 0;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin:0;
}

.title p {
  color: #77777;
  text-align: center;
  font-size: 1.6rem;
  margin: 5px 0 0 0;
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 0 0 100px 0;
  margin: 100px 0 80px 0;
}

.services__item {
  width: 270px;
  text-align: center;
}

.services__item h3 {
  font-size: 1.8rem;
  margin: 0 0 5px 0;
}

.services__item p {
  color:#777777;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
}

#portfolio {
  background-color: #f7f7f7;
  padding: 0 0 200px 0;
}

.works {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0 0;
}


.history__title h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 5px 0;
}
.history__title h4 {
  font-size: 1.8rem;
  margin: 5px 0;
}
.history__title p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.hist__row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.history__title, 
.hist__empty {
  width:37%;
  padding: 100px 0 0 0;
}

.hist__img {
  width:26%;
  padding: 80px 0 0 0;
  text-align: center;
}

.hist__row:nth-child(odd) .history__title {
  text-align: right;
}

.hist__row:nth-child(even) .history__title {
  text-align: left;
}

.smallFooter {
  text-align: center;
  padding: 120px 0 0 0;
}

.smallFooter p {
  font-size: 1.4rem;
}



