// COLORS
$grey-lightest:      #faf5f5;
$grey-light:         #eceaea;
$grey-light-medium:  #cccccc;
$grey:               #808080;
$grey-dark:          #666666;
$grey-dark-medium:   #585858;
$grey-darken:        #333333;
$grey-darkest:       #000000;

$color-main:         #333333;

$color-link:         #79a6d2;
$color-link-hover:   #0073e6;

// FONTS
$font-family-main: 'Roboto', sans-serif;

$font-size-small: 1.2rem;
$font-size-main: 1.6rem;
$font-size--h1: 4.1rem;
$font-size--h2: 3rem;
$font-size--h3: 2.5rem;
$font-size--h4: 2.1rem;

$line-height-normal: 1.3;
$line-height-large: 2.5;

$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-dark: 700;



/*BREACKPOINTS for @media
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone:       37.5em;   // 600px / 16px = 37.5em
$tab-port:    56.25em;  // 900px / 16 = 56.25em
$tab-land:    75em;     // 1200px / 16 = 75em;
$big-desktop: 112.5em;  // 1800px / 16 = 112.5

// GRID
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-none: 0;

// INDENTATIONS
$indent-normal: 1rem;
$indent-large: 3rem;