// COLORS
$grey-lightest:      #ffffff;
$grey-light:         #eceaea;
$grey-light-medium:  #cccccc;
$grey:               #808080;
$grey-dark:          #666666;
$grey-dark-medium:   #585858;
$grey-darken:        #333333;
$grey-darkest:       #000000;



// GRID
/* Breakpoints
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone: 37.5em; // 600px / 16px = 37.5em
$tab-port: 56.25em; // 900px / 16 = 56.25em
$tab-land: 75em;  // 1200px / 16 = 75em;
$big-desktop: 112.5em; // 1800px / 16 = 112.5

$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-none: 0;
