.contacts {
  min-height: 90vh;
  padding-top: 10rem;

  &__container {
    padding: 2rem;
    min-width: 30rem;
    max-width: 60%;
    min-height: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  & svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  &__h3 {
    text-align: center;
  }

  &__p {
    text-align: center;
  }

  &__icon-holder {
    display: block;
    padding: 5px;
    text-align: center;
    margin-bottom: 2rem;
  }

  & .icon__telegram,
  & .icon__email {
    fill: $color-link;

    &:hover {
      fill: $color-link-hover;
    }
  }
}