.education {
  @include screen-min-height-with-large-padding-top;

  &__h4 { text-align: center; }

  &__ul {

    & li {
      margin-bottom: 2rem;
      list-style: none;

      &:before {
        content: '- '
      }
    }
  }
}