.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4.5rem;
  height: 4.5rem;
  width: 100%;
  padding: $indent-normal;
  background-color: $grey-light;

  &__span {
    display: block;
    color: $grey-darken;
    text-align: center;
  }
}