.grid-container {
  width: 100%;
  border: 1px dashed red;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  min-height: 10rem;

  @media only screen and (max-width:$phone) {
    flex-wrap: wrap;
  }

  @media only screen and (min-width:$big-desktop) {
    width: 112.5rem; // 1800px
  }
}


.col-1 { width: 8.3333%; }
.col-2 { width: 16.6666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3333%; }
.col-5 { width: 41.6666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3333%; }
.col-8 { width: 66.6666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  // margin: $gutter-vertical-small / 2 $gutter-horizontal / 2;
  // margin: 2rem 4rem;
  border: 2px solid lightcoral;
  background-color: lightblue;
  min-height: inherit;
  padding: 0;
  margin: 0;

  @media only screen and (max-width:$phone) {
    width: 100%;
  }
}