.header {
  position: fixed;
  width: 100%;
  background-color: $grey-light;
  min-height: 6rem;
  z-index: 999;

  @media only screen and (max-width: $phone) {
    position: relative;
    z-index: 1;
  }
}