

h1, h2, p {
    color: lightslategray;
}

h2 {
    font-size: 150%;
    font-style: italic;
}

p {
    font-size: 120%;
}

code {
    font-size:110%;
    color: #404040;
}

body {
    background-color: white;
}

#main {
    display: block;
    width: 800px;
    margin: auto;
    padding-bottom: 50px;
}

table {
    border-spacing: 3px;
    width: 100%;
}

td {
    height: 20px;
}

.td_first {
    width: 15%;
    padding-left: 20px;
}

.td_content {
    width: 65%;
}

td, th {
    background: #e6e6ff;
    padding: 5px;
    border: 0px;
}

th {
    text-align: center;
    font-style: solid;
}


#back {
    width:60px;
    height:35px;
    background:#669999;
    color: white;
    position: fixed;
    margin: 10px 0px 0px 20px;
    text-align: center;
    padding-top: 15px;
    border-radius: 0px 80px 30px 80px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6); /* Тень */
    /* сделать, чтобы этот указатель плавно, очень плавно менял оттенок */
}

a {
    color: white;
    text-decoration: none;
}